= render "shared/vig_menu" 

- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Valoraciones"
.col-md-9
  .panel
    #container
    %h3 Valoraciónes
    - if can? :create, Vig
      %button.btn.btn-primary.pull-right.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
        %span.icon-plus-square
        Agregar Nueva Valoración

      %table.table
        %tr
          %th Nombre
          %th Fecha

        - @vigs.each do |vig|
          %tr
            %td= link_to vig.name, member_vig_path(@member,vig)
            %td= (vig.created_at).strftime('%Y-%m-%d')
    
    .tab-pane#psicologia 
      %h3 Valoraciones Psicologicas
      %button.btn.btn-primary.pull-right.btn-success{"data-target" => "#psicologiaModal", "data-toggle" => "modal"}
        %span.icon-plus-square
        Agregar Nueva Valoracion
     
      %table.table
        %thead
          %tr
            %th
              Nombre
            %th
              Fecha
    .tab-pane#ortopedia
      %h3
        Valoraciones Ortopedia
  = form_for Vig.new , url: member_vigs_path(@member) do |vig|
    .modal.fade#psicologiaModal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4
              Nueva Valoración
          .modal-body
            .form-group
              =vig.label :name, "Nombre de la Valoración"
              = vig.text_field :name, class: "form-control"
            .form-gruop
              %label
                Agregar Examen Psicologico
            - for test in Test.psicologico
              .form-group
                .checkbox
                  .col-md-9
                    = label_tag test.title
                  .col-md-3
                    =  check_box_tag "vig[test_ids][]" , test.id
          .modal-footer
            = vig.submit "Guardar", class: "btn btn-success" 
  
  = form_for Vig.new , url: member_vigs_path(@member) do |vig|
    .modal.fade#myModal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4
              Nueva Valoración
          .modal-body
            .form-group
              =vig.label :name, "Nombre de la Valoración"
              = vig.text_field :name, class: "form-control"
            .form-gruop
              %label
                Agregar Examen
            - for test in Test.gerontology
              .form-group
                .checkbox
                  .col-md-9
                    = label_tag test.title
                  .col-md-3
                    =  check_box_tag "vig[test_ids][]" , test.id
          .modal-footer
            = vig.submit "Guardar", class: "btn btn-success" 

:javascript
  last =  JSON.parse("#{@attr[1]}")
  current = JSON.parse("#{@attr[0]}") 

- content_for :javascripts do
  = javascript_include_tag "jquery.validate"
  = javascript_include_tag "vigs"

