= render "shared/vig_menu" 

- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Valoraciones"
.col-md-9
  %ul.nav.nav-tabs
    %li.active
      = link_to "Valoraciones Activas", "#gerontologica",:"data-toggle"=>"tab"
    %li
      = link_to "Historial Valoraciones", "#psicologia", :"data-toggle"=>"tab"
  .panel
    .tab-content
      .tab-pane.active#gerontologica
        #container
        %h3 Valoraciónes
        - if can? :create, Vig
          %button.btn.btn-primary.pull-right.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
            %span.icon-plus-square
              Agregar Nueva Valoración
          = link_to "Calcular Probien",new_member_probien_path(@member),class: "btn btn-primary"
          .clearfix
        - @vigs.each do |vig|
          %hr
            %strong
              Valoración creada por #{ link_to vig.user.name, "#" } - 
            =(vig.created_at).strftime('%Y-%m-%d')
          %table.table
            %thead
              %tr
                %th
                  Test
                %th
                  Resultado 
                %th
            %tbody
              -vig.tests.each do |test|
                -value =  status(test, vig)
                %tr
                  %td
                    = (test.title).titleize 
                  -if value
                    %td
                      = @res[0].points[:total2].nil? ? @res[0].points[:total] : @res[0].points[:total].to_i + @res[0].points[:total2].to_i 
                    %td
                      =link_to "Detalles", answers_all_path(@res[0].id),class: "btn btn-success btn-xs"
                  -else
                    %td
                      ="--"
                    %td
                      - if !vig.status
                        No se Aplico
                      -else
                        =link_to "Aplicar", vig_test_path(vig,test),class:"btn btn-warning btn-xs"
      .tab-pane#psicologia 
        %h3 Historial Valoraciones
        - @vigs_old.each do |vig|
          %hr
            %strong
              Valoración creada por #{ link_to vig.user.name, "#" } - 
            =(vig.created_at).strftime('%Y-%m-%d')
          %table.table
            %thead
              %tr
                %th
                  Test
                %th
                  Resultado 
                %th
            %tbody
              -vig.tests.each do |test|
                -value =  status(test, vig)
                %tr
                  %td
                    = (test.title).titleize 
                  -if value
                    %td
                      = @res[0].points[:total2].nil? ? @res[0].points[:total] : @res[0].points[:total].to_i + @res[0].points[:total2].to_i 
                    %td
                      =link_to "Detalles", answers_all_path(@res[0].id),class: "btn btn-success btn-xs"
                  -else
                    %td
                      ="--"
                    %td
                      - if !vig.status
                        No se Aplico
                      -else
                        =link_to "Aplicar", vig_test_path(vig,test),class:"btn btn-warning btn-xs"
  
  = form_for Vig.new , url: member_vigs_path(@member) do |vig|
    .modal.fade#myModal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4
              Nueva Valoración
          .modal-body
            .form-gruop
              %label
                Agregar Examen
            - for test in Test.all
              .form-group
                .checkbox
                  .col-md-9
                    = label_tag test.title
                  .col-md-3
                    =  check_box_tag "vig[test_ids][]" , test.id
          .modal-footer
            = vig.submit "Guardar", class: "btn btn-success" 

:javascript
  last =  JSON.parse("#{@attr[1]}")
  current = JSON.parse("#{@attr[0]}") 

- content_for :javascripts do
  = javascript_include_tag "jquery.validate"
  = javascript_include_tag "vigs"

