- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="Valoraciones/#{@vig.name}"

.col-md-12.vig
  .row
    = render "shared/vig_menu" 
    .col-md-9
      .panel
        %h3
          valoraciones aplicadas:
        -if @vig.status
          .row
            .col-md-12
              .well.text-center
                .row
                  .col-md-3
                    -res= barthel(@vig.abvd)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                      %li.test
                        ABVD-Barthel
                  .col-md-3
                    - res = lawton(@vig.aivd)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                      %li.test
                        AIVD Lawton-Brody
                  .col-md-3
                    -res =tinetti(@vig.tinetti)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                        %em
                          ="#{res[:marcha]} #{res[:eq]}"
                      %li.test
                        Tinetti
                  .col-md-3
                    - res = mental(@vig.folstein)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                      %li.test
                        Funcion Cognitiva
                .row
                  %hr
                  .col-md-3
                    - res = yesavage(@vig.yesavage)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                      %li.test
                        Deprecion Yasavage
                  .col-md-3
                    - res = hamilton(@vig.hamilton)
                    %ul.res_vig
                      %li.res
                        =res[:points]
                      %li
                        =res[:scale]
                        ="#{res[:psiquica]} #{res[:somatica]}"
                      %li.test
                        Hamilton
                  .col-md-3
                    %strong
                      Nutricion
                  .col-md-3
                    %strong
                      OARS
          
        -else
          = link_to "Calcular Probien",vig_progress_index_path(@vig),class: "btn btn-primary pull-right", method: :post
        %table.table
          %tr
            %th
              Examen
            %th
              Estado
            %th
              Resultado
            %th
              Valor
          -@vig.tests.each do |test|
            - value =  status(test, @vig)
            %tr
              %td
                = test.title.humanize
              -if value
                %td
                  Aplicado
                %td
                  = @res[0].points["total2"].nil? ? @res[0].points["total"] : @res[0].points["total"].to_i + @res[0].points["total2"].to_i 
                %td
                  =link_to "Detalles", answers_all_path(@res[0].id), class: "btn btn-success btn-xs"
              -else
                %td
                  Pendiente
                %td
                  ="--"
                %td
                  - if @vig.status == Constants::VIG_STATUS[:cloused]
                    No se Aplico
                  -else  
                    =link_to "Aplicar", vig_test_path(@vig,test), class: "btn btn-warning btn-xs"

