- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="Valoraciones/#{@vig.name}"

.col-md-12.vig
  .row
    = render "shared/vig_menu" 
    .col-md-9
      .panel
        %h3
          valoraciones aplicadas:
        -if @vig.status
          .row.text-center
            .col-md-3.box-vig
              %label
                =@vig.physical
              Fisico
            .col-md-3.box-vig
              = @vig.social
              Social
            .col-md-3.box-vig
              = @vig.personaldev
              Desarrollo personal
            .col-md-3.box-vig
              = @vig.cognitive
              Cognitivo
        -else
          = link_to "Calcular Probien",vig_progress_index_path(@vig),class: "btn btn-primary pull-right", method: :post
        %table.table
          %tr
            %th
              Examen
            %th
              Estado
            %th
              Resultado
            %th
              Valor
          -@vig.tests.each do |test|
            - value =  status(test, @vig)
            %tr
              %td
                = test.title.humanize
              -if value
                %td
                  Aplicado
                %td
                  = @res[0].points["total2"].nil? ? @res[0].points["total1"] : @res[0].points["total1"].to_i + @res[0].points["total2"].to_i 
                %td
                  =link_to "Detalles", answers_all_path(@res[0].id), class: "btn btn-success btn-xs"
              -else
                %td
                  Pendiente
                %td
                  ="--"
                %td
                  =link_to "Aplicar", vig_test_path(@vig,test), class: "btn btn-warning btn-xs"

