.container
  .col-md-12
    .panel
      %p#notice= notice
      %p
        %b Name:
        = @additional_service.name
      %p
        %b Price:
        = @additional_service.price
      %p
        %b Description:
        = @additional_service.description

      = link_to 'Editar', edit_additional_service_path(@additional_service)
      \|
      = link_to 'Volver', additional_services_path
