.panel
  .row
    .col-md-4
      %h2
        Facturas Pendientes
    .col-md-4
    .col-md-4
      = link_to 'Ver Reporte',  invoice_reports_path, class: 'btn btn-success pull-right'
.panel
  %table.table
    %thead
      %tr
        %th
          = sorteable "create_at", "Fecha"
        %th
          Participante
        %th
          Total
        %th
          = sorteable "status","Status"
        %th
    %tbody
      -@invoices.each do |invoice|
        %tr
          %td
            = invoice.created_at.to_date
          %td
            = invoice.member.name
          %td
            =invoice.total
          %td
            =Invoice::STATUS[invoice.status]
          %td
            = link_to "detalle", invoice

