%h1 Lista de Familiares

%table
  %tr
    %th Nombre
    %th Apellido
    %th Parentesco
    %th Teléfono
    %th Dirección
    %th Celular
    %th
    %th
    %th

  - @families.each do |family|
    %tr
      %td= family.firstname
      %td= family.lastname
      %td= family.relationship
      %td= family.phone_home
      %td= family.address
      %td= family.phone_mobile
      %td= link_to 'Ver', family
      %td= link_to 'Editar', edit_family_path(family)
      %td= link_to 'Eliminar', family, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuevo', new_family_path
