= render "shared/vig_menu"
.col-md-9
  .panel
    = form_for @member, url: member_schedule_index_path(@member), method: :post do |f|     
      - if !@current_activity.empty?
        %h3 
          Horario Actual
        %table.table
          %tr
            %th 
              Actividad
            %th
              Horario
            %th
              Check
          -for activity in @current_lesson
            %tr
              %td
                = activity.title
              %td
                = activity.description
              %td
                = check_box_tag "member[lesson_ids][]" , lesson.id, @member.lessonss.include?(lesson)        
      %h3
        Actividades Recomendas
      %table.table
        %tr
          %th
            Actividad
          %th
            Description
          %th
            Horario
          %th
            Check
        - for lesson in @lessons
          %tr
            %td
              = lesson.activity.title
            %td
              = lesson.activity.description
            %td
              = check_box_tag "member[lesson_ids][]" , lesson.id, @member.lessons.include?(lesson)          

      =f.submit "Crear Horario", class: "btn btn-success"
