= render "shared/vig_menu" 
.col-md-9
  %ul.nav.nav-tabs#Tab
    %li.active
      %a{href: "#resumen", :"data-toggle"=>"tab"}
        Resumen
    %li
      %a{href: "#invoice", :"data-toggle"=>"tab"}
        Facturacion
  .panel.tab-content
    .tab-pane.active#resumen
      %table.table
        %tr
          %td
            %strong
              Mensualidad
          %td
            = @member.monthly_payment
        %tr
          %td
            %strong
              Gastos
          %td
            = @adittional
        %tr
          %td
            %strong
              Total
          %td
            %strong
              = @adittional + @member.monthly_payment
      %h3 Servicios Adicionales en el mes
      %table.table
        %tr
          %th Fecha del servicio
          %th Nombre
          %th Precio
          %th
        -@invoice.list_services.each do |service|
          %tr
            %td= service.date_service
            %td= service.name
            %td= service.price         
            %td= link_to raw('&times;'), member_invoice_list_service_path(@member,@invoice,service), :class => "close" , :method => :delete , :confirm => 'Are you sure?' 
      
      %h3 Agregar servicio adicional
      %button.btn.btn-primary.pull-right.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
        %span.icon-plus-square
          Descuento/Servicio
      %table.table
        %tr
          %th Fecha del servicio
          %th Nombre
          %th Descripción
          %th Precio
          %th
          %th
          %th

          - @additional_services.each do |additional_service|
            %tr
              = form_for [@member,@invoice,@list_service]  do |a|
                =a.hidden_field :description, :value => additional_service.description
                =a.hidden_field :price, :value => additional_service.price
                =a.hidden_field :name, :value => additional_service.name
                %td= a.text_field :date_service , class: 'datepicker'
                %td= additional_service.name
                %td= additional_service.description
                %td= additional_service.price
                %td= a.submit 'Agregar', class: "icon-plus-square btn btn-success"

    .tab-pane#invoice
      %table.table
        %thead
          %tr
            %th
              Fecha
            %th
              Total
            %th
              Status
        %tbody
          -@invoices.each do |invoice|
            %tr
              %td
              %td
                =invoice.total
              %td
                =invoice.status
= form_for [@member,@invoice,@list_service]  do |i|
  .modal.fade#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Agregar o descontar Pago mensualidad
        .modal-body
          .form-group
            = i.label :name, "Fecha del servicio" 
            = i.text_field :date_service , class: 'datepicker form-control '
            .form-group
              = i.label :name, "Nombre servicio"
              = i.text_field :name, class: "form-control "
            .form-group
              = i.label :type, "Tipo de transaccion Servico/Pago"
              = i.select :type, ListService::TYPE 
            .form-group
              = i.label :price, "Valor" 
              = i.number_field :price, class: "form-control"
            .form-group
              = i.label :description, "Descripción"
              = i.text_area :description, class: "form-control"            
          .modal-footer
            .form-group
              = i.submit "Guardar", class: "btn btn-success" 

:javascript
  
  $(function() {
    $( ".datepicker" ).datepicker({
      format: 'yyyy/mm/dd'
    });
  });
  console.log("afdsa");
  $('#new_invoice').validate({
    rules : {
      'invoice[additional_service][name]': { required: true },
      'invoice[additional_service][price]': { required: true },
    },             
   highlight: function(label) {
        $(label).closest('.form-group').removeClass('has-success');
        $(label).closest('.form-group').addClass('has-error');
    },
   success: function(label) {        
        $(label).closest('.form-group').removeClass('has-error');
        $(label).closest('.form-group').addClass('has-success');
    }
  });

