= link_to 'Nuevo', new_center_path, class: 'ui blue button'
%h1 Listing centers

%table.ui.table.segment
  %tr
    %th Nombre
    %th Dirección
    %th Teléfono
    %th
    %th
    %th

  - @centers.each do |center|
    %tr
      %td= center.name
      %td= center.address
      %td= center.phone
      %td= link_to 'Ver', center
      %td= link_to 'Editar', edit_center_path(center)
      %td= link_to 'Eliminar', center, :method => :delete, :data => { :confirm => 'Are you sure?' }

