= include_gon 
- content_for :title_breadcrumb do
  %strong
    = @center.name
.row
  .col-md-3
    .info_box.text-right
      .icon
        %span.icon-bell-o.green
      .summary
        %h4
          = @result['tickets']
        N째 Tickets
  .col-md-3
    .info_box
      .icon
        %span.icon-medkit.red
      .summary
        %h4
          = @result['visitas']
        N째 Visitas
  .col-md-3
    .info_box
      .icon
        %span.icon-hospital-o.blue
      .summary
        %h4
          = @result['cancelaciones']
        N째 Cancelaciones
  .col-md-3
    .info_box
      .icon
        %span.icon-group.black
      .summary
        %h4
          = @result['ventas']
        N째 de Ventas

.row
  .col-md-12
    .panel
      #contact
= render "charts/prospect_grafic"
