.col-md-3
  .panel.panel_profile
    .profile_box
      -  @member = Member.find(@member)
      = form_for @member, :html => {:multipart => true} do |f|
        = @member.avatar? ? image_tag(@member.avatar_url) : image_tag("profile.jpg")
        .instructions Click en la imagen para cambiar
        = f.file_field :avatar , class: "field_avatar"
        = f.submit "Cambiar foto", class: "btn btn-default submit_avatar"
    .list-group
      = link_to "Perfil", member_path(@member), class: "list-group-item"
      = link_to "Valoraciones", member_vigs_path(@member) , class: "list-group-item"      
      = link_to "Horarios",member_schedule_index_path(@member), class: "list-group-item" unless @vig.nil?
      = link_to "Enfermería",member_nursing_index_path(@member), class: "list-group-item"
      = link_to "Evolución", member_progress_index_path(@member), class: "list-group-item"
      = link_to "Pagos", member_additional_services_path(@member), class: "list-group-item"
- content_for :javascripts do
  = javascript_include_tag "vigs"
