= render "shared/vig_menu" 


- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Historial Clinico"
.col-md-9
  .panel
    %h3 Valoraciónes
    %a.btn.btn-primary.pull-right.btn-success{ :href => new_member_medical_path( @member ) }
      %span.icon-plus-square
      Crear Historial Clinico
    %table.table
      %tr
        %th Nombre
        %th Fecha
      - @medicals.each do |vig|
        %tr
          %td= link_to vig.name, member_vig_path(@member,vig)
          %td= (vig.created_at).strftime('%Y-%m-%d')

