.container
  .row
    .col-md-12.panel
      %h4
        Agregar permisos Rol
        = @role.name
      = form_for  [:admin,@role] do |f|
        %table.table
          %thead
            %tr
              %th
                subject_class
              %th
                action
              %th
                name
              %th
              %th
          %tbody
            - for permission in @permissions
              %tr
                %td
                  =permission.subject_class
                %td
                  = permission.action
                %td
                  = permission.name
                %td
                  =permission.description
                %td
                  = check_box_tag "role[permission_ids][]",permission.id,@role.permissions.include?(permission) 
        =f.submit
