
= form_for @prospect do |f|
  - if @prospect.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prospect.errors.count, "error")} prohibited this prospect from being saved:"
      %ul
        - @prospect.errors.full_messages.each do |msg|
          %li= msg

  .row
    #rootwizard
      .navbar
        .col-md-10.col-md-offset-1
          %ul.steps
            %li
              %a{"data-toggle" => "tab", href: "#tab1"}
                Datos Generales Cliente
            %li
              %a{"data-toggle" => "tab", href: "#tab2"}
                Datos Generales Participante
            %li
              %a{"data-toggle" => "tab", href: "#tab3"}
                Datos Medicos Participante

      .tab-content
        #tab1.tab-pane
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :name, "Nombre"
              = f.text_field :name, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :lastname, "Apellidos"
              = f.text_field :lastname, class: 'form-control'
          .col-md-5.col-md-offset-1
            .form-group
<<<<<<< HEAD
              = f.label :mobile , "Celular"
              = f.text_field :mobile, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :phone , "Teléfono"
              = f.text_field :phone, class: 'form-control'
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :mail , "Email"
              = f.text_field :mail, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :relationship ,"Parentesco"
=======
              = f.label :mobile, "Telefono movil"
              = f.text_field :mobile, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :phone, "Telefono fijo"
              = f.text_field :phone, class: 'form-control'
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :mail, "Email"
              = f.text_field :mail, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :relationship, "Realacion con el participante"
>>>>>>> a3ef745d3d399ea023f59ebe62248627c0c654cd
              = f.select :relationship,ProspectMember::PERSON_CONTACT ,{}, class: 'form-control' 
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :delegacion , "Delegación"
              = f.select :delegacion,Prospect::DELEGATION,{}, class: 'form-control'
          .col-md-5
            .form-group
<<<<<<< HEAD
              = f.label :other_state , "Otro estado"
              = f.text_field :other_state, class: 'form-control'
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :contact_type , "Tipo de contancto"
              = f.select :contact_type,Prospect::MEDIO,{}, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :observation_contact, "Observaciones"
=======
              = f.label :other_state, "Si la pesona se encuentra en un estado diferente ala lista"
              = f.text_field :other_state, class: 'form-control'
          .col-md-5.col-md-offset-1
            .form-group
              = f.label :contact_type, "Medio de contacto"
              = f.select :contact_type,Prospect::MEDIO,{}, class: 'form-control'
          .col-md-5
            .form-group
              = f.label :observation_contact, "Obsevaciones"
>>>>>>> a3ef745d3d399ea023f59ebe62248627c0c654cd
              = f.text_field :observation_contact, class: 'form-control'
        
        = f.fields_for :prospect_member do |member|
          #tab2.tab-pane
            .col-md-5.col-md-offset-1
              .form-group
                = member.label :name , "Nombre"
                = member.text_field :name,class: 'form-control' 
            .col-md-5
              .form-group
<<<<<<< HEAD
                = member.label :lastname ,"Apellidos"
                = member.text_field :lastname, class: 'form-control'
            .col-md-5.col-md-offset-1
              .form-group
                =member.label :genre ,"Genero"
                = member.select :genre, [['Masculino', 1],['Femenino','0']],{}, class: 'form-control'
            .col-md-5
              .form-group
                = member.label :age , "Edad"
                = member.number_field :age, class: 'form-control'
            .col-md-5.col-md-offset-1
              .form-group
                =member.label :phone , "Teléfono"
                =member.text_field :phone, class: 'form-control' 
            .col-md-5
              .form-group
                =member.label :mobile , "Celular"
=======
                = member.label :lastname, "Apellidos"
                = member.text_field :lastname, class: 'form-control'
            .col-md-5.col-md-offset-1
              .form-group
                =member.label :genre, "Genero"
                = member.select :genre, [['Masculino', 1],['Femenino','0']],{}, class: 'form-control'
            .col-md-5
              .form-group
                = member.label :age, "Edad"
                = member.number_field :age, class: 'form-control'
            .col-md-5.col-md-offset-1
              .form-group
                =member.label :phone, "Telefono"
                =member.text_field :phone, class: 'form-control' 
            .col-md-5
              .form-group
                =member.label :mobile , "telefono movil"
>>>>>>> a3ef745d3d399ea023f59ebe62248627c0c654cd
                =member.text_field :mobile, class: 'form-control'

          #tab3.tab-pane
            .col-md-5.col-md-offset-1   
              .form-group
<<<<<<< HEAD
                =member.label :physical , "Estado Físico"
                =member.select :physical,ProspectMember::PHYSICAL,{},class: 'form-control'
            .col-md-5
              .form-group
                =member.label :cognitive, "Estado Cognitivo"
=======
                =member.label :physical, "Dependencia fisica"
                =member.select :physical,ProspectMember::PHYSICAL,{},class: 'form-control'
            .col-md-5
              .form-group
                =member.label :cognitive, "Dependencia Cognitiva"
>>>>>>> a3ef745d3d399ea023f59ebe62248627c0c654cd
                =member.select :cognitive,ProspectMember::COGNITIVE,{}, class: 'form-control'
            .col-md-10.col-md-offset-1
              %label
                Diagnostico Preliminar
              -for pathology in Pathology.all
                .checkbox
                  %label
                    =pathology.name
                    = check_box_tag "prospect[prospect_member_attributes[pathology_ids][]]" , pathology.id
            .col-md-10.col-md-offset-1
              .form-group
                = f.label :observation , "Observaciones"
                = f.text_area :observation, class: "form-control"
              
        .col-md-10.col-md-offset-1
          %ul.pager.wizard
            %li.previous
              %a{:href => "javascript:;"} << Atras
            %li.next
              %a{:href => "javascript:;"} Siguiente >>
            %li.next.finish{:style => "display:none;"}
              = f.submit "Guardar", class: "btn btn-success pull-right"
          
