.panel
  .row
    .col-md-4
      %h1
        Prospectos
    .col-md-4
      .input-group
        %input#filter.form-control{:placeholder => "Ingrese su busqueda.."}
        %span.input-group-addon.icon-search-plus
    .col-md-4
      = link_to 'Informes', prospect_grafic_path, class: "btn btn-info pull-right"
      -if can? :create, Prospect
        = link_to 'Nuevo prospecto', new_prospect_path, class: "btn btn-success pull-right"
    
  .clearfix
.panel
  %table.table
    %tr
      %th 
        =sorteable "name", "Nombre"
      %th Telefono
      %th Mobile
      %th Email
      %th Participante
      %th 
        = sorteable "satatus", "Status"
      /
        %th
        %th
        %th

    - @prospects.each do |prospect|
      %tr{class: "#{Prospect::STATUS[prospect.status][0]}"}
        %td= link_to "#{prospect.name} #{prospect.lastname}", prospect
        %td= prospect.phone 
        %td= prospect.mobile
        %td= prospect.mail
        %td= "#{prospect.prospect_member.name} #{prospect.prospect_member.lastname}"
        %td= Prospect::STATUS[prospect.status][0]
        /
          %td= link_to 'Ver', prospect
          %td= link_to 'Editar', edit_prospect_path(prospect)
          %td= link_to 'Eliminar', prospect, :method => :delete, :data => { :confirm => 'Are you sure?' }

