.panel
  %h1 Prospectos
  = link_to 'Informes', prospect_grafic_path, class: "btn btn-info pull-right"
  = link_to 'Nuevo prospecto', new_prospect_path, class: "btn btn-success pull-right"

  %table.table
    %tr
      %th Code
      %th Nombre
      %th Apellido
      %th Telefono
      %th Mobile
      %th Email
      %th Delegacion
      %th Status
      /
        %th
        %th
        %th

    - @prospects.each do |prospect|
      %tr
        %td= prospect.code
        %td= link_to "#{prospect.name} #{prospect.lastname}", prospect
        %td= prospect.phone 
        %td= prospect.mobile
        %td= prospect.mail
        %td= prospect.delegacion
        %td= prospect.status
        /
          %td= link_to 'Show', prospect
          %td= link_to 'Edit', edit_prospect_path(prospect)
          %td= link_to 'Destroy', prospect, :method => :delete, :data => { :confirm => 'Are you sure?' }


