.panel
  .row
    .col-md-12
      %h3
        = "#{@prospect.name} #{@prospect.lastname}".upcase

        %button.btn.btn-success.pull-right{"data-target" => "#myModal", "data-toggle" => "modal"}
          Crear Nuevo Evento      
    .col-md-6
      .sub-content.right-border
        %h4 
          Contacto
        %br
        %p
          %em
            %b Phone:
            = @prospect.phone
        %p
          %em
            %b Mobile:
            = @prospect.mobile
        %p
          %em
            %b Mail:
            = @prospect.mail
        %p
          %em
            %b Delegacion:
            = @prospect.delegacion
        %p
          %em
            %b Tipo de Contacto:
            = @prospect.contact_type
    .col-md-6
      %h4
        Miembro:
      %br
      %p
        %em
          %b Nombre:
          = "#{@prospect_member.name} #{@prospect_member.lastname}"
      %p
        %em
          %b Genero:
          = @prospect_member.genre
      %p
        %em
          %b Edad
          = @prospect_member.age
      %p
        %em
          %b cognitive
          =@prospect_member.cognitive
      %p
        %em
          %b physical
          =@prospect_member.physical
  %hr
    %b Observation:
    = @prospect.observation

-@tickets.each do |ticket|
  .panel{:style=> "#{status_style(ticket.status)}"}
    .pull-right
      =@label
    %strong
      = ticket.type
      = ticket.title
      %br
    %p
      = ticket.observation
    -if !ticket.status && ticket.type != 3
      =form_for [@prospect , ticket] do |f|
        =f.hidden_field :status, value: true
        =f.submit "Realizado", class: "btn-xs pull-right btn-success"
    %small
      %em
        Creado por:#{ticket.user.name} // Fecha de crecion: #{ticket.created_at.to_date}

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modal-header
        %h4
          Nuevo Ticket
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type=> "button"} &times;
      =form_for @ticket, url: prospect_tickets_path(@prospect) do |f|
        .modal-body
          .row
            .col-md-12
              .form-group
                = f.label :title
                = f.text_field :title, class: 'form-control'
            .col-md-6 
              .form-group
                = f.label :event_date
                = f.date_field :event_date, class: 'form-control'
            .col-md-6
              .form-group
                = f.label :type, 'Tipo'
                = f.select :type,['Llamada','Email','Cita', ['Cambio de Estado', 3 ] ],{},class: 'form-control'
            #status{style:"display:none"}
              .col-md-6
                .form-group
                  =f.label :status ,'Status'
                  =select_tag "status", options_for_select(Prospect::STATUS),class: 'form-control'
              .col-md-6
                .form-group
                  =f.label :reason, 'Razon'
                  =select_tag "reason", options_for_select(Prospect::REASON),class: 'form-control'

            .col-md-12
              .form-group
                = f.label :observation
                = f.text_area :observation, class: 'form-control'
          
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
            Cancelar  
          = f.submit 'Crear Ticket', class: 'btn btn-success'
:javascript
  $( "#ticket_type" ).change(function() {
    if (this.value == 3){
     $('#status').show();
    }else{
      $('#status').hide();
    }
    });
