%script{:src => "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js", :type => "text/javascript"}
%script{:src => "http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js", :type => "text/javascript"}

= form_for @activity do |f|
  - if @activity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@activity.errors.count, "error")} prohibited this activity from being saved:"
      %ul
        - @activity.errors.full_messages.each do |msg|
          %li= msg


  .form-group
    = f.label :title , "Nombre"
    = f.text_field :title, :class => "form-control" 
  .form-group
    = f.label :description , "Descripción"
    = f.text_area :description, :class => "form-control"
  .form-group
    = f.label :attendes , "Parcipantes"
    = f.text_field :participants, :class => "form-control"
  .form-group
    = f.label :objective, "Objetivo"
    = f.text_area :objective, :class => "form-control"
  
    -for area in Area.all 
      .checkbox
        %label
          =area.kindof
          = check_box_tag "activity[area_ids][]", area.id, @activity.areas.include?(area)
  %fieldset
    .form-group
      =f.label :difficulty, "Dificultad"
      =f.select :difficulty, [['basico',1], ['intemedio',2],['avanzado',3]]
    .form-group
      =f.label :cognitive, "Cognitivo"
      =f.select :cognitive, [['Funcional',1],['Deterioro cognitivo',2],['demencia',3]]
    .form-group
      = f.label :physical, "Fisico"
      = f.select :physical, [['Fincional',1],['Con ayuda',2],['Dependiente',3]]
  .action
    = f.button action_name == "edit" ? "Actualizar" : "Crear", :class => "btn btn-primary"
