- content_for :title do
  = 'Lista de actividades'.upcase

.panel
  %h3
    Horario Semanal
  %table.table
    %tr
      %th Title
      %th Participants
      %th
      %th
      %th

    - @activities.each do |activity|
      %tr
        %td= activity.title 
        %td= activity.participants 
        %td= link_to 'Ver', activity
        %td= link_to 'Editar', edit_activity_path(activity)
        %td= link_to 'Eliminar', activity, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'Crear Actividad', new_activity_path
