- content_for :title do
  = 'New activity'.upcase

.col-md-12.panel
  = render 'form'

= link_to 'Back', activities_path
- content_for :javascripts do
  = javascript_include_tag "activities"
  = javascript_include_tag "jquery.validate"