%p#notice= notice

%p
  %b Title:
  = @activity.title
%p
  %b Body:
  = @activity.body
%p
  %b Participants:
  = @activity.participants
%p
  %b Area:
  = @activity.area
%p
  %b Adjetive:
  = @activity.adjetive
%p
  %b Physical level:
  = @activity.physical_level
%p
  %b Social level:
  = @activity.social_level
%p
  %b Depression level:
  = @activity.depression_level
%p
  %b Anxiety level:
  = @activity.anxiety_level

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
