.panel
  %h1 Mailbox
.row
  .col-md-3
    = render "shared/mail_nav"
  .col-md-9
    .panel
      %p#notice= notice

      %p
        %b Text:
        = @messenger.text
      %p
        %b Subjet:
        = @messenger.subjet
      %p
        %b Status:
        = @messenger.status

