%h1 Listing tests

%table
  %tr
    %th Title , "Título"
    %th Observation ,"Observación"
    %th Description ,"Descripción"
    %th
    %th
    %th

  - @tests.each do |test|
    %tr
      %td= test.title
      %td= test.observation
      %td= test.description
      %td= link_to 'Ver', test
      %td= link_to 'Editar', edit_test_path(test)
      %td= link_to 'Eliminar', test, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Nuevo', new_test_path
