.panel
  = form_tag member_vig_answers_path(@member, @vig) do
    - @answers.each_with_index do |answer,index|
      = fields_for "answers[#{index}]", answer do |f|
        .form-group
          %label
            = index
            = ". #{@questions[index].content}"
            = f.hidden_field :question_id, value: @questions[index].id
            = f.hidden_field :member_id, value: @member.id
            = f.hidden_field :vig_id, value: @vig.id
          -if @questions[index].type == "check"
            - @questions[index].options_answers.each do |opc|
              .checkbox
                %label
                  = f.radio_button :points, opc.points
                  %strong
                    = opc.content
                  = opc.description
          -else
            = f.text_field :description, class: "form-control" 
    = submit_tag "Guardar"
