.panel
  = form_for( @formulario, as: :answer, :url => test_answers_path(@test)  ) do |f|
    - @counter = 0
    = f.hidden_field :vigs, value: @vig.id
    - @formulario.members.each_with_index do |member, key|
      
      - if member.type == 'section'
        %section
          %header
            %h2= member.name
          - member.answers.each do |a|
            = fields_for "answers[#{@counter}]", a do |m|
              %span= m.object.question.content
              = m.text_field :note 
              = m.hidden_field :question_id, :value => m.object.question.id
              %br
              - @counter += 1
      - elsif member.type == 'checkbox'
        %section
          %header
            %h2= member.name
          = fields_for "answers[#{@counter}]" do |q|
            = q.hidden_field :question_id, :value => member.id_question
            = q.hidden_field :vig_id, :value => @vig.id
          - member.answers.each do |a|
            = fields_for "answers[#{@counter}]", a do |m| 
              %span= m.object.option.content
              = m.radio_button :options_answers_id, m.object.option.id, :checked => true
              %br
          - @counter += 1
      - else
        %h2= member.name
        - member.answers.each do |a|
          = fields_for "answers[#{@counter}]", a do |m|
            = m.text_area :note
            = m.hidden_field :question_id, :value => m.object.question.id
            - @counter += 1
    = f.submit 'Enviar'
