.panel
  = form_tag test_answers_path(@test) do
    = hidden_field_tag :vig, @vig.id
    - current_secction = ""
    - @answers.each_with_index do |answer,index|
      = fields_for "answers[#{index}]", answer do |f|
        -secction = @questions[index].sec
        - if secction != current_secction
          = current_secction = secction
        
        .form-group
          %label
            = index
            = ". #{@questions[index].content}"
            = f.hidden_field :question_id, value: @questions[index].id
            = f.hidden_field :member_id, value: @member.id
            = f.hidden_field :vig_id, value: @vig.id
          -if @questions[index].type == "check"
            - @questions[index].options_answers.each do |opc|
              .checkbox
                %label
                  = f.radio_button :options_answers_id, opc.id
                  %strong
                    = opc.content
                  = opc.description
          -else
            = f.text_field :description, class: "form-control" 
    = submit_tag "Guardar"
