.panel
  %h3
    Asistentes
    = link_to 'Ver Reporte',  payment_reports_path, class: 'btn btn-success pull-right'
  %table.table
    %thead
      %tr
        %th
          Nombre
        %th
          Hora Entrada
        %th
          Hora Salida
        %th
    %tbody
      -@attends.each do |attend|
        - if attend.member
          %tr
            %td
              = attend.member.name
            %td
              =attend.entry_time.to_formatted_s(:time)
            %td
              -if attend.exit_time.nil?
                = form_for attend do |f|
                  =f.submit "Salir"
              -elsif
                =attend.exit_time.to_formatted_s(:time)

  %hr
  %h3
    Pendientes 
  = form_for :attend do |f|
    = f.submit "Actualizar", class: "btn btn-success pull-right"
    %table.table
      %thead
        %tr
          %th
            Nombre
          %th
            Check
      %tbody
        -@members.each do |member|
          - if member.days.include? @day 
            -if member_exist @attends, member
              %tr
                %td
                  = member.name
                %td
                  = f.check_box :member_id,{:multiple => true},  member._id, nil
