.panel
  .row
    .col-md-4
      %h1
        Asistentes
    .col-md-4
    .col-md-4
      = link_to 'Ver Reporte',  payment_reports_path, class: 'btn btn-link pull-right'
      %button.btn.btn-link.pull-right{"data-target" => "#new_attent", "data-toggle" => "modal"}
        Agregar Novedad
.panel  
  %table.table
    %thead
      %tr
        %th
          Nombre
        %th
          Hora Entrada
        %th
          Hora de Salida
        %th
          Salida
    %tbody
      -@attends.each do |attend|
        - if attend.member
          %tr
            %td
              = "#{attend.member.name} #{attend.member.lastname}"
            %td
              =attend.entry_time.to_formatted_s(:time)
            
            -if attend.exit_time.nil?
              = form_for attend do |f|
                %td
                  =f.time_select :exit_time 
                %td
                  =f.submit "Salir"
            -elsif
              %td
                =attend.exit_time.to_formatted_s(:time)
              %td
  %hr
  %h3
    Pendientes 
  
  = form_for :attend do |f|
    = f.submit "Actualizar", class: "btn btn-success pull-right"
    %table.table
      %thead
        %tr
          %th
            Nombre
          %th
            Hora de Ingreso
          %th
            Check
      %tbody
        -@members.each do |member|
          - if member.days.include? @day 
            -if member_exist @attends, member
              %tr
                %td
                  = "#{member.name} #{member.lastname}"
                %td
                  = f.time_select :entry_time 
                %td
                  = f.check_box :member_id,{:multiple => true},  member._id, nil
    
    #new_attent.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-body
            %table.table
              %thead
                %tr
                  %th
                    Nombre
                  %th
                    Hora de Ingreso
                  %th
                    Check
              -@members.each do |member|
                -if !member.days.include? @day
                  %tr
                    %td
                      = "#{member.name} #{member.lastname}"
                    %td
                      = f.time_select :entry_time 
                    %td
                      = f.check_box :member_id,{:multiple => true},  member._id, nil
          .modal-footer
            = f.submit "Agregar asistente", class: "btn btn-success pull-right"           

