-# navigation styled for Bootstrap 3.0
.user-menu
  = image_tag "http://bootstrapguru.com/preview/delighted/images/avatar.png", class: "avatar"
  .welcome
    Bienvenido
  .username
    = truncate(current_user.name, :length => 10)
.list-menu
  = link_to "Participantes", members_path, class: "list-group-item"
  = link_to "Prospectos", prospects_path, class: "list-group-item"
  = link_to "Actividades & Horarios", activities_path, class: "list-group-item"
  = link_to "Asistencia", attends_path, class: "list-group-item"
  = link_to "Pagos", customers_path, class: "list-group-item"
  = link_to 'Salir', destroy_user_session_path,class: "list-group-item", :method=>'delete'
  
