-# navigation styled for Bootstrap 3.0
.user-menu
  = image_tag "profile.jpg", class: "avatar"
  .welcome
    Bienvenido
  .username
    = truncate(current_user.name, :length => 20)
.list-menu
  -if can? :read, Member
    = link_to "Participantes", members_path, class: "list-group-item"
  -if can? :read, Prospect
    = link_to "Prospectos", prospects_path, class: "list-group-item"
  -if can? :read, Activity
    = link_to "Actividades & Horarios", activities_path, class: "list-group-item"
  -if can? :read, Attend
    = link_to "Asistencia", attends_path, class: "list-group-item"
  = link_to 'Salir', destroy_user_session_path,class: "list-group-item", :method=>'delete'
  
