!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Meridia'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Meridia'}"}
    = stylesheet_link_tag 'style'
    = stylesheet_link_tag 'bootstrap'
    = stylesheet_link_tag 'framework_and_overrides'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      .navbar.navbar-head
        .container-fluid
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{:href => "#"}
              GeroSoft
          %ul.nav-accion.navbar-right
            %li.dropdown
              %a.dropdown-toggle{:"data-toggle"=>"dropdown"}
                = Mongoid::Multitenancy.current_tenant.name
                %b.caret
              %ul.dropdown-menu
                %li
                  %a
                    Otro Centro
            %li
              = link_to destroy_user_session_path, class: 'off', :method=>'delete' do
                %span.icon-power-off
    %main.container-fluid
      .general-row
        .col-md-2.main-menu.hidden-xs
          = render 'layouts/navigation'
        .col-md-10.col-md-offset-2
          .title_bar
            = yield :title_breadcrumb
          = render 'layouts/messages'
          = yield
    = yield :footer
    = yield(:javascripts)
