/[if lt IE 7] <html class="front ie lt-ie9 lt-ie8 lt-ie7 fluid top-full menuh-top">
/[if IE 7] <html class="front ie lt-ie9 lt-ie8 fluid top-full menuh-top sticky-top">
/[if IE 8] <html class="front ie lt-ie9 fluid top-full menuh-top sticky-top">
/[if gt IE 8] <html class="animations front ie gt-ie8 fluid top-full menuh-top sticky-top">
/ [if !IE]><!
%html.animations.front.fluid.top-full.menuh-top.sticky-top
  / <![endif]
  %head
    %title MERIDIA
    / Meta
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}
      %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
        %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
          %meta{:content => "IE=9; IE=8; IE=7; IE=EDGE", "http-equiv" => "X-UA-Compatible"}/
          / Bootstrap
          = javascript_include_tag 'plugins/system/less.min.js'
          = stylesheet_link_tag 'bootstrap/css/bootstrap', media: 'all', 'data-turbolinks-track' => true
          = stylesheet_link_tag 'theme/fonts/glyphicons/css/glyphicons_regular.css'
          = stylesheet_link_tag 'theme/fonts/glyphicons/css/glyphicons_social'
          = stylesheet_link_tag 'theme/fonts/glyphicons/css/glyphicons_filetypes'
          = stylesheet_link_tag 'theme/fonts/font-awesome/css/font-awesome.min'
          = stylesheet_link_tag 'theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default'
          = stylesheet_link_tag 'bootstrap/extend/bootstrap-select/bootstrap-select'
          = stylesheet_link_tag 'theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min'
          = stylesheet_link_tag 'theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors'
          = stylesheet_link_tag 'theme/scripts/plugins/other/google-code-prettify/prettify'
          = stylesheet_link_tag 'theme/scripts/plugins/other/revolution-slider/css/settings'
          = stylesheet_link_tag 'theme/css/style-default-menus-light.css?1382019518'
          / = javascript_include_tag 'application', 'data-turbolinks-track' => true
          = csrf_meta_tags

  %body
    %header
      = render 'layouts/messages'
      = yield
    = javascript_include_tag 'jquery.min'  
    = javascript_include_tag 'plugins/system/jquery.cookie'
    = javascript_include_tag 'demo/themer'
    = javascript_include_tag 'plugins/other/js-beautify/beautify-html'  
    = javascript_include_tag 'plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min'
    = javascript_include_tag 'plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min'
    = javascript_include_tag 'plugins/other/revolution-slider/js/jquery.themepunch.revolution.min'
    = javascript_include_tag 'demo/front_index_revolutionslider'
    = javascript_include_tag 'bootstrap/js/bootstrap.min'
    = javascript_include_tag 'plugins/other/jquery-slimScroll/old/jquery.slimscroll'
    = javascript_include_tag 'demo/megamenu'
    = javascript_include_tag 'plugins/other/holder/holder'
    = javascript_include_tag 'plugins/forms/pixelmatrix-uniform/jquery.uniform.min'    
    = javascript_include_tag 'plugins/color/jquery-miniColors/jquery.miniColors'
    = javascript_include_tag 'plugins/other/google-code-prettify/prettify'
