.col-md-12
  .panel.panel_table_index
    %h1
      Participantes
    %table.table
      %thead
        %tr
          %th Nombre
          %th Nacionalidad
          %th Código
          %th Estado

      - @members.each do |member|
        %tr{class: Member::STATUS[member.status][0]}
          %td= link_to  "#{member.name} #{member.lastname}", member_path(member)
          %td= member.country
          %td= member.code
          %td= Member::STATUS[member.status][0]


