.col-md-12
  .panel.panel_table_index
    = link_to 'Nuevo Participante', new_customer_path, class: 'btn btn-success pull-right'
    %table.table
      %thead
        %tr
          %th Nombre
          %th Edad
          %th Nacionalidad
          %th Code
          %th Status

      - @members.each do |member|
        %tr
          %td= link_to  member.name, member_path(member)
          %td= member.phone
          %td
          %td= member.code
          %td= member.status


