%h1 Listing members

%table.ui.table.segment
  %tr
    %th Name
    %th Addres
    %th Phone
    %th Age
    %th Code
    %th Status

  - @members.each do |member|
    %tr
      %td= member.name
      %td= member.address
      %td= member.phone
      %td= member.age
      %td= member.code
      %td= member.status

%br

= link_to 'New Member', new_center_member_path(@center)
