- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Perfil"
.col-md-12
  .row
    = render 'shared/vig_menu'
    .col-md-9 
      = link_to "Editar Participante", edit_customer_path(@member.customer), class: "pull-right btn btn-default"
      %ul.nav.nav-tabs
        %li.active
          %a{href: "#perfil", :"data-toggle"=>"tab"}
            Perfil
        %li
          %a{href: "#info", :"data-toggle"=>"tab"}
            Objetivos
        %li
          %a{href: "#family", :"data-toggle"=>"tab"}
            Familiares
        %li
          %a{href: "#salud", :"data-toggle"=>"tab"}
            Servicios de Salud
      .panel.tab-content
        .tab-pane#info
          -unless @vig.nil?
            -if  @vig.probien
              %h4 Cognitivo:
              %p
                =@vig.probien.cognitive
              %h4 Fisico:
              %p
                =@vig.probien.physical
              %h4 Desarrollo personal:
              %p
                =@vig.probien.personaldev
              %h4 Sacial:
              %p
                =@vig.probien.social
              %h4 Salud y Bienestar:
              %p
                =@vig.probien.personaldev

        .tab-pane#family
          = link_to "Agregar Familiar", '#', class: "btn btn-success pull-right",:"data-toggle"=>"modal" ,:"data-target"=>"#familyNew"
          .clear
          %h4
            Responsable:
          .icons-list
            %span
              ="#{@member.customer.name} #{@member.customer.lastname} "
            %span.icon-phone2
              =@member.customer.phone
          %h4
            Familiares:
          - @member.families.each do |family| 
            .icons-list
              %span
                %strong
                  = "#{family.firstname} #{family.lastname}"
              %span.icon-heart3
                = Family::REALTIONSHIP[family.relationship][0] 
              %span.icon-phone2
                =family.phone_home
              %span.icon-phone2
                =family.phone_mobile
        
        .tab-pane#salud
          = link_to " Servicios de Salud", '#', class: "btn btn-success pull-right",:"data-toggle"=>"modal" ,:"data-target"=>"#healthNew"
          %h4
            Servicios de Salud:
          %hr  
          - @member.health_insurances.each do |insurances|
            %hr  
            =insurances.company
          %h4
            Hospital:
          - @member.health_services.each do |service|
            %hr 
            = service.hospital
        .tab-pane.active#perfil
          %h4
            = (@member.name + " "+ @member.lastname).capitalize 
            = '('
            = age(@member.date_borth) if @member.date_borth 
            = 'años )'
            = 'Cuidad'
            =  @member.city
          %hr
          .row
            -unless @vig.nil?
              .col-md-2.text-center
                - res  =barthel(@vig.abvd)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    ABVD
              .col-md-2.text-center
                - res= lawton(@vig.aivd)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    AIVD
              .col-md-2.text-center
                -res = tinetti(@vig.tinetti)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    R. Caídas
              .col-md-2.text-center
                - res =yesavage(@vig.yesavage)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    R. Caídas
              .col-md-2.text-center
                - res =mental(@vig.folstein)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    Cognitivo
              .col-md-2.text-center
                -res= hamilton(@vig.hamilton)
                %ul.res_vig
                  %li.res
                    =res[:points]
                  %li
                    =res[:scale]
                  %li.test
                    Ansiedad
            - else
              .col-md-12
                %h4 Aun no se ha hecho el ProBien
          %hr
          .row
            .col-md-6
              .text-danger
                %strong
                  Alergías:
                %ul
                  -@member.allergies.each do |allergy|
                    %li
                      = allergy.name
            .col-md-6
              %strong
                Medicinas
              %ul
                -@member.medicines.each do |medicine|
                  %li
                    ="#{ medicine.name} (#{ medicine.way})" 
          .row
            .col-md-12 
              %h3 Observaciones
              - unless @vig.nil? || @vig.probien.nil?
                -@vig.probien.descriptions.each do |description|
                  .well
                    =description.name
= form_for [@member,@family] do |family|
  .modal.fade#familyNew
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Nuevo Familiar
        .modal-body
          .row
            .col-md-12
              .form-group
                =family.label :firstname, "Nombre"
                =family.text_field :firstname, class: "form-control"
              .form-gruop
                =family.label :lastname, "Apellido"
                =family.text_field :lastname, class: "form-control"
              .form-group
                .ckeckbox
                  =family.label :rated, "Marcar Como Destacado en caso de emergencia"
                  =family.check_box :rated
            .col-md-6
              .form-group
                =family.label :phone_home, "Telefono #1"
                =family.text_field :phone_home, class: "form-control"
            .col-md-6
              .form-group
                =family.label :phone_mobile, "Mobil #1"
                =family.text_field :phone_mobile, class: "form-control"
            .col-md-12
              .form-group
                =family.label :relationship, "Relacion"
                =family.select :relationship, Family::REALTIONSHIP,{},class: "form-control"
           
        .modal-footer
          = family.submit "Guardar", class: "btn btn-success" 
