- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Perfil"
.title_seccion
  .row
    .col-md-3
      .info_box.box_1
        .icon
          %span.icon-pencil
        .summary
          %h4
            55%
          cognitivo
    .col-md-3
      .info_box.box_2
        .icon
          %span.icon-stats
        .summary
          %h4
            60%
          Fisico
    .col-md-3
      .info_box.box_3
        .icon
          %span.icon-flag
        .summary
          %h4
            45%
          Desarrollo personal
    .col-md-3
      .info_box.box_4
        .icon
          %span.icon-group
        .summary
          %h4
            66%
          Social
.col-md-12
  .row
    = render 'shared/vig_menu'
    .col-md-9 
      %ul.nav.nav-tabs#myTab
        %li.active
          %a{href: "#info", :"data-toggle"=>"tab"}
            Informacion
        %li
          %a{href: "#family", :"data-toggle"=>"tab"}
            Familiares
        %li
          %a{href: "#salud", :"data-toggle"=>"tab"}
            Sevicios de Salud
        %li
          %a{href: "#pagos", :"data-toggle"=>"tab"}
            Pagos
      .panel.tab-content
        .tab-pane.active#info
          Active
        .tab-pane#salud
          
          %ul.list_data
            -@member.health_insurances.each do |service|
              %li
                %h5
                  = "#{service.company}".upcase
                %ul
                  %li
                    %span.icon-medkit
                    Lic N.
                    = service.licence_number
                  %li  
                    %span.icon-medkit
                    Poliza N.
                    = service.policy_number
                  %li  
                    %span.icon-h-square
                    = service.institute
          %ul.list_data
            -@member.health_services.each do |health|
              %li
                %h5
                  = "#{health.hospital}".upcase
                %ul
                  %li
                    %span.icon-phone2
                    = health.phone1
                  %li  
                    %span.icon-phone2
                      = health.phone2
                  %li  
                    %span.icon-home
                    = health.address
        .tab-pane#pagos
          Pagos
= form_for Vig.new , url: member_vigs_path(@member) do |vig|
  .modal.fade#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Nueva Valoracion
        .modal-body
          .form-group
            =vig.label :name
            = vig.text_field :name, class: "form-control"
          .form-gruop
            %label
              Agregar Examen
          - for test in Test.all
            .form-group
              .checkbox
                = label_tag test.title
                =  check_box_tag "vig[test_ids][]" , test.id
        .modal-footer
          = vig.submit "Guardar", class: "btn btn-success" 

