- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Perfil"
.title_seccion
  .row
    .col-md-3
      .info_box.box_1
        .icon
          %span.icon-pencil
        .summary
          %h4
            55%
          cognitivo
    .col-md-3
      .info_box.box_2
        .icon
          %span.icon-stats
        .summary
          %h4
            60%
          Fisico
    .col-md-3
      .info_box.box_3
        .icon
          %span.icon-flag
        .summary
          %h4
            45%
          Desarrollo personal
    .col-md-3
      .info_box.box_4
        .icon
          %span.icon-group
        .summary
          %h4
            66%
          Social
.col-md-12
  .row
    = render 'shared/vig_menu'
    .col-md-9 
      %ul.nav.nav-tabs#myTab
        %li
          %a{href: "#info", :"data-toggle"=>"tab"}
            Informacion
        %li
          %a{href: "#family", :"data-toggle"=>"tab"}
            Familiares
        %li
          %a{href: "#salud", :"data-toggle"=>"tab"}
            Sevicios de Salud
        %li
          %a{href: "#pagos", :"data-toggle"=>"tab"}
            Perfil
        %li.active
          %a{href: "#pagos", :"data-toggle"=>"tab"}
            Clinico
      .panel.tab-content
        .tab-pane#info
          -#  Nurse Format
          = form_for(@member) do |f|
            %h2 Signos Vitales
            = f.fields_for :signs do | sign |
              = sign.fields_for :measures do |measure|
                = measure.select :kindof, Measure::KINDOF, :selected => measure.object.kindof
                = measure.text_field :value
                %br
            = f.submit 'Guardar Signos Vitales'
        .tab-pane.active#clinico
          = form_for( @member ) do |f|
            %h2 Valoracion Inicial de Enfermeria
            %h3 Alergias (Medicamentos/Alimentos)
            = f.fields_for :allergies do |allergy|
              = allergy.select :kindof, Allergy::KINDOF, :selected => allergy.object.kindof
              = allergy.text_field :name
              %br
            %h3 Medicamentos
            = f.fields_for :medicines do |medicine|
              = medicine.label 'farmaco'
              = medicine.text_field :name
              %br
              = medicine.label 'dias de la semana'
              - Medicine::DAY.each do |day|
                -#= debug medicine.object
                = medicine.label day, :class => "checkbox-inline" do
                  = medicine.check_box :day, { :multiple => true, :checked => medicine.object.send( [day,'?'].join ) ? true : false }, day.to_sym, nil
                  = day
              %br
              = medicine.label 'Frecuencia'
              = medicine.select :frequency, (1..24).map{ |h| h.to_i > 9 ? [h, h] : ['%s%s' % [0, h], h] }, :selected => medicine.object.frequency
              %br
              = medicine.label 'Dosis'
              = medicine.select :frequency, (1..10).map{ |h| h.to_i > 9 ? [h, h] : ['%s%s' % [0, h], h] }, :selected => medicine.object.dose
              %br
              = medicine.label 'Via'
              = medicine.text_field :way
              %br
              = medicine.label 'Vigencia'
              = medicine.text_field :validity
            %h3 Respiracion
            = f.fields_for :breath do |breath|
              - Breath::LEVELS.each do |breath_level|
                = breath.label "Niveles", :class => "checkbox-inline" do
                  = breath.check_box :level, { :multiple => true, :checked => breath.object.level.include?(breath_level[1]) ? true : false }, breath_level[1], nil
                  = breath_level[0]
            %h3 Circulacion
            = f.fields_for :blood do |blood|
              - Blood::LEVELS.each do |blood_level|
                = blood.label "Niveles", :class => "checkbox-inline" do
                  = blood.check_box :level, { :multiple => true, :checked => blood.object.level.include?(blood_level[1]) ? true : false }, blood_level[1], nil
                  = blood_level[0]
            %h4 Otros
            = f.fields_for "other" do |other|
              = other.fields_for :signs do |signs|
                - Other::SIGNS.each_with_index do |sign, i|
                  = label_tag sign[0]
                  = hidden_field "#{signs.object_name}[#{i}]", :name, :value => sign[0]
                  = radio_button "#{signs.object_name}[#{i}]", :value, "si"
                  Si
                  = radio_button "#{signs.object_name}[#{i}]", :value, "no", :checked => true
                  No
                  - if !sign[2].nil?
                    %section.nested{ :data => { :id => "" }}
                    - sign[2].each_with_index do |level, j|
                      = radio_button "#{signs.object_name}[#{i}]", :level, level[0], (j == 0 )? {:checked => true } : {}
                      = level[0]
                      %br
            %h4 Nutrición e hidratación
            = f.fields_for :nutrition do |nutrition|
              = nutrition.fields_for :levels do |levels|
                - Nutrition::LEVELS.each_with_index do |level, i|
                  = label_tag level[0]
                  = hidden_field "#{levels.object_name}[#{i}]", :name, :value => level[0]
                  - case level[1]
                  - when "radio"
                    - level[2].each_with_index do |input, j|
                      = radio_button "#{levels.object_name}[#{i}]", :value, input[1]
                      = input[0]
                  - when "text"
                    = label_tag level[0]
                    = text_field "#{levels.object_name}[#{i}]", :value
                  - else
                    - level[2].each_with_index do |input, j|
                      = radio_button "#{levels.object_name}[#{i}]", :value, input[1]
                      = input[0]
                    %section.nested{ :data => { :id => "" }}
                      = label_tag level[3]
                      = text_field "#{levels.object_name}[#{i}]", :note
                  %br
            %h4 Exploracion Fisica
            = f.fields_for :body do |body|
              = body.fields_for :levels do |levels|
                - Body::LEVELS.each_with_index do |level, i|
                  = label_tag level[0]
                  = hidden_field "#{levels.object_name}[#{i}]", :name, :value => level[0]
                  - case level[1]
                  - when "radio"
                    - level[2].each_with_index do |input, j|
                      = radio_button "#{levels.object_name}[#{i}]", :value, input[1]
                      = input[0]
                  - else
                    Type undefined!
                  %br
            %h4 Otros Mas
            = f.fields_for :urinary do |urinary|
              = urinary.fields_for :levels do |levels|
                - Urinary::LEVELS.each_with_index do |level, i|
                  = label_tag level[0]
                  = hidden_field "#{levels.object_name}[#{i}]", :name, :value => level[0]
                  - case level[1]
                  - when "radio"
                    - level[2].each_with_index do |input, j|
                      = radio_button "#{levels.object_name}[#{i}]", :value, input[1]
                      = input[0]
                  - else
                    Type undefined!
                  %br
        .tab-pane#salud
          %ul.list_data
            -@member.health_insurances.each do |service|
              %li
                %h5
                  = "#{service.company}".upcase
                %ul
                  %li
                    %span.icon-medkit
                    Lic N.
                    = service.licence_number
                  %li  
                    %span.icon-medkit
                    Poliza N.
                    = service.policy_number
                  %li  
                    %span.icon-h-square
                    = service.institute
          %ul.list_data
            -@member.health_services.each do |health|
              %li
                %h5
                  = "#{health.hospital}".upcase
                %ul
                  %li
                    %span.icon-phone2
                    = health.phone1
                  %li  
                    %span.icon-phone2
                      = health.phone2
                  %li  
                    %span.icon-home
                    = health.address
        .tab-pane#pagos
          Pagos
= form_for Vig.new , url: member_vigs_path(@member) do |vig|
  .modal.fade#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Nueva Valoracion
        .modal-body
          .form-group
            =vig.label :name
            = vig.text_field :name, class: "form-control"
          .form-gruop
            %label
              Agregar Examen
          - for test in Test.all
            .form-group
              .checkbox
                = label_tag test.title
                =  check_box_tag "vig[test_ids][]" , test.id
        .modal-footer
          = vig.submit "Guardar", class: "btn btn-success" 

