%p#notice= notice

%p
  %b Name:
  = @member.name
%p
  %b Addres:
  = @member.addres
%p
  %b Phone:
  = @member.phone
%p
  %b Age:
  = @member.age
%p
  %b Code:
  = @member.code
%p
  %b Status:
  = @member.status

