- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Perfil"
.title_seccion
  .col-md-12
  .row
    = render 'shared/vig_menu'
    .col-md-9 
      %ul.nav.nav-tabs#myTab
        %li.active
          %a{href: "#perfil", :"data-toggle"=>"tab"}
            Perfil
        %li
          %a{href: "#info", :"data-toggle"=>"tab"}
            Informacion
        %li
          %a{href: "#family", :"data-toggle"=>"tab"}
            Familiares
        %li
          %a{href: "#salud", :"data-toggle"=>"tab"}
            Sevicios de Salud
      .panel.tab-content
        .tab-pane#info
        .tab-pane#family
          - @member.families do |family| 
            %hr  
        .tab-pane#salud
          - @member.health_insurances do |insurances|
            %hr  
          - @member.health_services do |service|
            %hr    
        .tab-pane.active#perfil.well
          %h4
            = (@member.name + " "+ @member.lastname).capitalize 
            = '('
            = age(@member.date_borth) if @member.date_borth 
            = 'años )'
            = 'Cuidad'
            =  @member.city
          .row
            .col-md-3
              .info_box.box_1
                .title
                  Cognitivo
                .summary
                  %h4
                    %small
                      Deterioro
                    Normal
                .summary
                  %h4
                    56
            .col-md-3
              .info_box.box_1
                .title
                  Fisico
                .summary
                  %h4
                    %small
                      Caidas
                    Riesgo-Bajo
                .summary
                  %h4
                    %small
                      Dependencia
                    Grave
            .col-md-3
              .info_box.box_1
                .title
                  Desarrollo personal
                .summary
                  %h4
                    %small
                      Deprecion
                .summary
                  %h4
                    %small
                      Ansiedad
            .col-md-3
              .info_box.box_1
                .title
                  Social
                .summary
                  %h4
                    %small
                      Social
                .summary
                  %h4
                    %small
                      Cultural

          .row
            .col-md-6
              .text-danger
                %strong
                  Alegias:
                %ul
                  -@member.allergies.each do |allergy|
                    %li
                      = allergy.name
            .col-md-6
              %strong
                Medicinas
              %ul
                -@member.medicines.each do |medicine|
                  %li
                    ="#{ medicine.name} (#{ medicine.way})" 
      .col-md-14 
        .div.panel
          %h3 Observaciones
          - unless @vig.nil? || @vig.probien.nil?
            -@vig.probien.descriptions.each do |description|
              .div.well
                =description.name
= form_for Vig.new , url: member_vigs_path(@member) do |vig|
  .modal.fade#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Nueva Valoracion
        .modal-body
          .form-group
            =vig.label :name
            = vig.text_field :name, class: "form-control"
          .form-gruop
            %label
              Agregar Examen
          - for test in Test.all
            .form-group
              .checkbox
                = label_tag test.title
                =  check_box_tag "vig[test_ids][]" , test.id
        .modal-footer
          = vig.submit "Guardar", class: "btn btn-success" 

