- content_for :title_breadcrumb do
  %strong
    = @member.name.upcase
    = @member.lastname.upcase
  ="/Perfil"
.title_seccion
  .col-md-12
  .row
    = render 'shared/vig_menu'
    .col-md-9 
      %ul.nav.nav-tabs#myTab
        %li.active
          %a{href: "#perfil", :"data-toggle"=>"tab"}
            Perfil
        %li
          %a{href: "#info", :"data-toggle"=>"tab"}
            Objetivos
        %li
          %a{href: "#family", :"data-toggle"=>"tab"}
            Familiares
        %li
          %a{href: "#salud", :"data-toggle"=>"tab"}
            Sevicios de Salud
      .panel.tab-content
        .tab-pane#info
        .tab-pane#family
          = link_to "Agregar Familiar", '#', class:"btn btn-success pull-right"
          %hr
          - @member.families.each do |family| 
            = "#{family.firstname} #{family.lastname}"
            %em
              ="(#{family.phone_home})"
            %hr  
        .tab-pane#salud
          = link_to "Agregar Familiar", '#', class:"btn btn-success pull-right"
          - @member.health_insurances.each do |insurances|
            %hr  
            =insurances.company
          - @member.health_services.each do |service|
            %hr 
            = service.hospital
        .tab-pane.active#perfil
          %h4
            = (@member.name + " "+ @member.lastname).capitalize 
            = '('
            = age(@member.date_borth) if @member.date_borth 
            = 'años )'
            = 'Cuidad'
            =  @member.city
          %hr
          .row
            -unless @vig.nil?
              .col-md-2.text-center
                = raw(barthel(@vig.abvd))
                %p
                  %strong ABVD
              .col-md-2.text-center
                = raw(lawton(@vig.aivd))
                %p
                  %strong
                    AIVD
              .col-md-2.text-center
                -tinetti = tinetti(@vig.tinetti)
                = tinetti[:scala]
                %p
                  %strong
                    R. Caidas
              .col-md-2.text-center
                = raw(yesavage(@vig.yesavage))
                %p
                  %strong
                    Depresión
              .col-md-2.text-center
                = raw(mental(@vig.folstein))
                %p
                  %strong
                    Cognitivo
              .col-md-2.text-center
                -hamilton= hamilton(@vig.hamilton)
                = hamilton[:scala]
                %p
                  %strong
                    Ansiedad
            - else
              .col-md-12
                %h4 Aun no se ha hecho el ProBien
          %hr
          .row
            .col-md-6
              .text-danger
                %strong
                  Alegias:
                %ul
                  -@member.allergies.each do |allergy|
                    %li
                      = allergy.name
            .col-md-6
              %strong
                Medicinas
              %ul
                -@member.medicines.each do |medicine|
                  %li
                    ="#{ medicine.name} (#{ medicine.way})" 
      .col-md-14 
        .div.panel
          %h3 Observaciones
          - unless @vig.nil? || @vig.probien.nil?
            -@vig.probien.descriptions.each do |description|
              .div.well
                =description.name
= form_for Vig.new , url: member_vigs_path(@member) do |vig|
  .modal.fade#myModal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4
            Nueva Valoracion
        .modal-body
          .form-group
            =vig.label :name
            = vig.text_field :name, class: "form-control"
          .form-gruop
            %label
              Agregar Examen
          - for test in Test.all
            .form-group
              .checkbox
                = label_tag test.title
                =  check_box_tag "vig[test_ids][]" , test.id
        .modal-footer
          = vig.submit "Guardar", class: "btn btn-success" 
